# systemd --version 219
[Unit]
Description = supervisory
After = network-online.target
After = network.service

[Service]
Type = simple
WorkingDirectory = /usr/local/keeper/
ExecStart = /usr/local/keeper/virtenv/bin/python /usr/local/keeper/manager.pyc
KillSignal = INT
KillMode = mixed
StartLimitInterval = 3m
StartLimitBurst = 30
Restart = on-failure
User = root
Group = root

[Install]
WantedBy = multi-user.target